<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Contact US Page


    {{/*  <form action="/submit" method="POST">
        {{ partial "custom_input.html" (dict "id" "username" "label" "Username" "required" true "placeholder" "Enter your username") }}
        {{ partial "custom_input.html" (dict "id" "email" "label" "Email Address" "type" "email" "required" true "placeholder" "Enter your email") }}
        {{ partial "custom_input.html" (dict "id" "password" "label" "Password" "type" "password" "required" true) }}
        <button type="submit">Submit</button>
    </form>  */}}
</body>
</html>